<div>
  <div>
    <h1>
      Trip #<%= @the_trip.id %> details
    </h1>

    <div>
      <div>
        <a href="/trips">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_trip/<%= @the_trip.id %>">
          Delete trip
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Destination
      </dt>
      <dd>
        <%= @the_trip.destination %>
      </dd>

      <dt>
        Travelers count
      </dt>
      <dd>
        <%= @the_trip.travelers_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_trip.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_trip.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit trip
    </h2>

    <form action="/modify_trip/<%= @the_trip.id %>"  method="post" >
      <div>
        <label for="destination_box">
          Destination
        </label>

        <input type="text" id="destination_box" name="query_destination" value="<%= @the_trip.destination %>">
      </div>

      <div>
        <label for="travelers_count_box">
          Travelers count
        </label>

        <input type="text" id="travelers_count_box" name="query_travelers_count" value="<%= @the_trip.travelers_count %>">
      </div>

      <button>
        Update trip
      </button>
    </form>
  </div>
</div>

<hr>

<table border="1">
  <tr>
    <th>
      Name
    </th>

    <th>
      Arrival flight day/time
    </th>

     <th>
      Departure flight day/time
    </th>
  </tr>

  <% @list_of_travelers.each do |a_traveler|%>
  <tr>
    <td>
      <%= a_traveler.id %>  
    </td>

    <td>
      <%= a_traveler.arrival_flight_time %>  
    </td>

    <td>
      <%= a_traveler.departure_flight_time %>  
    </td>
  <%end%>
  </tr>
</table>

<div>
  <div>
    <h2>
      Add a new traveler
    </h2>

    <form action="/insert_traveler" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" placeholder = "<%= @user_id%>">
      </div>

      <div>
        <label for="trip_id_box">
          Trip
        </label>

        <input type="text" id="trip_id_box" name="query_trip_id" placeholder = "<%=@the_trip.id%>">
      </div>

      <div>
        <label for="arrival_flight_time_box">
          Arrival flight time
        </label>

        <input type="datetime-local" id="arrival_flight_time_box" name="query_arrival_flight_time">
      </div>

      <div>
        <label for="departure_flight_time_box">
          Departure flight time
        </label>

        <input type="text" id="departure_flight_time_box" name="query_departure_flight_time">
      </div>

      <div>
        <label for="comments_box">
          Comments
        </label>

        <input type="text" id="comments_box" name="query_comments">
      </div>

      <button>
        Create traveler
      </button>
    </form>
  </div>
</div>
