<div>
  <div>
    <h1>
      <%=@the_trip.destination%> details
    </h1>

    <div>
      <div>
        <a href="/trips">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_trip/<%= @the_trip.id %>">
          Delete trip
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Destination
      </dt>
      <dd>
        <%= @the_trip.destination %>
      </dd>

      <dt>
        Number of travelers
      </dt>
      <dd>
        <% matching_travelers = Traveler.where({ :trip_id => @the_trip.id}) %>
        <%= matching_travelers.count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_trip.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_trip.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit trip
    </h2>

    <form action="/modify_trip/<%= @the_trip.id %>"  method="post" >
      <div>
        <label for="destination_box">
          Destination
        </label>

        <input type="text" id="destination_box" name="query_destination" value="<%= @the_trip.destination %>">
      </div>

    

      <button>
        Update trip
      </button>
    </form>
  </div>
</div>

<hr>
<div>
<table border="1">
  <tr>
    <th>
      Traveler ID
    </th>
    <th>
      Name
    </th>

    <th>
      Arrival flight day/time
    </th>

     <th>
      Departure flight day/time
      </th>

      <th>
      Comments
    </th>

      <th>
      Show traveler details
    </th>
  </tr>

  <% @list_of_travelers.each do |a_traveler|%>
  <tr>
    <td>
      <%= a_traveler.id %>
    </td>
    <td> 
      <%= a_traveler.name %>
    </td>

    <td>
      <%= a_traveler.arrival_flight_time %>  
    </td>

    <td>
      <%= a_traveler.departure_flight_time %>  
    </td>

    <td>
      <%= a_traveler.comments %>
    </td>

    <td>
      <% if current_user.id = a_traveler.user_id %>
        <a href="/travelers/<%=a_traveler.id %>">Show traveler details</a>
      <% else %>
        NA
      <%end%>
    </td>
  <%end%>
  </tr>
</table>
</div>
<hr>
<div>
  <div>
    <h2>
      Add a new traveler
    </h2>

    <form action="/insert_traveler" method="post">
        <input type = "hidden" name="query_user_id" value = "<%= current_user.id%>">

        <div>
          <label for="name_box">
            Name
          </label>

          <input type="text" id="name_box" name="query_name" value = "<%= current_user.name%>">
      </div>

      <input type = "hidden" name="query_trip_id" value = "<%=@the_trip.id%>">

      <div>
        <label for="arrival_flight_time_box">
          Arrival flight time
        </label>

        <input type="datetime-local" id="arrival_flight_time_box" name="query_arrival_flight_time">
      </div>

      <div>
        <label for="departure_flight_time_box">
          Departure flight time
        </label>

        <input type="datetime-local" id="departure_flight_time_box" name="query_departure_flight_time">
      </div>

      <div>
        <label for="comments_box">
          Comments
        </label>

        <input type="text" id="comments_box" name="query_comments">
      </div>

      <button>
        Create traveler
      </button>
    </form>
  </div>
</div>
