<div>
  <div>
    <h1>

      <% the_trip = Trip.where({ :id => @the_traveler.trip_id}).at(0) %>
      <% the_destination = the_trip.destination %>
      Details for <%=@the_traveler.name%>'s upcoming trip to <%= the_destination %>
    </h1>

    <div>
      <div>
        <a href="/trips/<%=the_trip.id%>">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_traveler/<%= @the_traveler.id %>">
          Delete traveler
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_traveler.name %>
      </dd>

      <dt>
        Trip
      </dt>
      <dd>
        <% the_trip_id = @the_traveler.trip_id %>
        <% the_trip = Trip.where({ :id => the_trip_id}).at(0) %>
        <%= the_trip.destination %>
      </dd>

      <dt>
        Arrival airline
      </dt>
      <dd>
        <%=@the_traveler.arrival_airline%>
      </dd>

      <dt>
        Arrival flight number
      </dt>
      <dd>
        <%=@the_traveler.arrival_flight_number%>
      </dd>

      <dt>
        Arrival flight time
      </dt>
      <dd>
        <%= @the_traveler.arrival_flight_time %>
      </dd>

      <dt>
        Departure airline
      </dt>
      <dd>
        <%=@the_traveler.departure_airline%>
      </dd>

      <dt>
        Departure flight number
      </dt>
      <dd>
        <%=@the_traveler.departure_flight_number%>
      </dd>
      <dt>
        Departure flight time
      </dt>
      <dd>
        <%= @the_traveler.departure_flight_time %>
      </dd>

      <dt>
        Comments
      </dt>
      <dd>
        <%= @the_traveler.comments %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_traveler.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_traveler.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Edit travel details for <%= @the_traveler.name%>'s upcoming trip to <%= the_trip.destination%>
    </h2>

    <form action="/modify_traveler/<%= @the_traveler.id %>"  method="post" >
      <div>
        <h4>Arrival flight details</h4>
      </div>
      <div>
        <label for="arrival_flight_airline_box">
          Arrival flight airline
        </label>

        <input type="text" id="arrival_flight_airline_box" name="query_arrival_airline">
      </div>

      <div>
        <label for="arrival_flight_number_box">
          Arrival flight number
        </label>

        <input type="text" id="arrival_flight_number_box" name="query_arrival_flight_number">
      </div>

      <div>
        <label for="arrival_flight_time_box">
          Arrival flight time
        </label>

        <input type="datetime-local" id="arrival_flight_time_box" name="query_arrival_flight_time"
         placeholder="<%= @the_traveler.arrival_flight_time %>">
      </div>
      <div>
        <h4>Departure flight details</h4>
      </div>
      <div>
        <label for="departure_airline_box">
          Departure flight airline
        </label>

        <input type="text" id="departure_airline_box" name="query_departure_airline">
      </div>

      <div>
        <label for="departure_flight_number_box">
          Departure flight number
        </label>

        <input type="text" id="departure_flight_number_box" name="query_departure_flight_number">
      </div>
      <div>
        <label for="departure_flight_time_box">
          Departure flight time
        </label>

        <input type="datetime-local" id="departure_flight_time_box" name="query_departure_flight_time" placeholder="<%= @the_traveler.departure_flight_time %>">
      </div>

      <div>
        <label for="comments_box">
          Comments
        </label>

        <input type="text" id="comments_box" name="query_comments" placeholder="<%= @the_traveler.comments %>">
      </div>

      <button>
        Update traveler
      </button>
    </form>
  </div>
</div>

<hr>
